.container_snTest {
  margin-top: 6rem;
  padding: 1rem;
  height: calc(100vh - 6rem);
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  padding: 1rem;
}

.card-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card-item {
  display: block;
  align-items: center;
  height: 18rem;
}
/* .card-item {
  border: 1px solid black;
  width: 32rem;
  height: 14rem;
  padding: 1rem;
  box-sizing: border-box;
} */

.col_right, .row_right, .row_right .info_lista_clientes {
  padding: 1rem;
}

.info_lista_clientes .content-box .exemplo-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}

mat-card-content {
  width: 100%;
  height: 55vh;
  padding: 3rem;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: .5rem;
}

.data-list {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
}

.button_snTest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
