<app-navbar></app-navbar>

<div class="container_snTest">
  <div class="button_snTest">
    <button mat-stroked-button color="primary" (click)="setRefreshTrue()">
      <abbr title="refresh"
        ><span class="material-symbols-outlined"> refresh </span>
        </abbr>
    </button>
    <button mat-stroked-button color="primary" (click)="[setRestartTrue()]">
      <abbr title="restart"
        ><span class="material-symbols-outlined"> reset_wrench </span>
        </abbr>
    </button>
    <button mat-stroked-button color="primary" (click)="openDialog()">
      <abbr title="Settings"
        ><span class="material-symbols-outlined"> settings </span>
        </abbr>
    </button>
    <button mat-stroked-button color="primary" (click)="openDialogClientes()">
      <abbr title="Clients">
        <span class="material-symbols-outlined"> group </span>
        </abbr>
    </button>
  </div>

  <div class="info_lista_clientes">
    <div class="info_snTest">
      <h2 class="title_info">Log</h2>
    </div>
    <div class="content-box">
      <div class="card-title">
        <div class="card-content">
          <mat-card-content class="card-info">
            <p>
              Status: <strong>{{ vStatus }}</strong>
            </p>
          </mat-card-content>
        </div>
        <div class="card-content">
          <mat-card-content
            class="card-item"
            *ngFor="let parts of titleParts"
            [innerHTML]="parts"
          ></mat-card-content>
        </div>
      </div>

      <div class="exemplo-box">
        <div class="card-info">
          <mat-card-content class="card-grid" *ngIf="logData | json">
            <p [innerHTML]="vData" class="data-list"></p>
          </mat-card-content>
        </div>
        <div class="card-info">
          <mat-card-content class="card-grid" *ngIf="logData | json">
            <p [innerHTML]="vLog" class="data-list"></p>
          </mat-card-content>
        </div>
      </div>
    </div>
  </div>
</div>